

ul {
    list-style-type: none;
}

.item--cart td {
    
    padding: 20px 0 6px 0;
}

.item--cart-price,
.item--cart-id,
.item--cart-count,
.item--cart-name {
    color: #727578;
    font-size: 16px;
    font-weight: bold;
}
.item--cart-sum {
    color: #f06953;
    font-size: 18px;
    font-weight: bold;

}

