<div class="container" style="margin-top:100px">
    <table class="table table-striped">
       

<thead>
    <th>Изображение</th>
    <th>id</th>
    <th>Название телефона</th>
    <th>Количество</th>
    <th>Цена за штуку</th>
    <th>Итоговая сумма</th>
</thead>
<tr class="item--cart" ng-repeat="purchase in $ctrl.purchases">
            <td>
                <img width="100px" class="img-thumbnail img-responsive item--cart-img" src={{purchase.item.imgUrl}} alt="avatar"
                />
            </td>
            <td class="item--cart-id">{{purchase.item.id}}</td>
            <td class="item--cart-name">{{purchase.item.name}}</td>
            <td class="item--cart-count">{{purchase.count}} </td>
            <td class="item--cart-price">{{purchase.item.price}}</td>
            <td class="item--cart-sum">{{purchase.item.price*purchase.count}} </td>

        </tr>


    </table>


</div>